@keyframes antiClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes clockwise {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  position: relative;
}

#mainCanvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#webcam-video {
  background-color: #ddd;
  width: 100%;
  height: 100%;
}

#loadingScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(10, 10, 10, 1);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5,
  .circle6 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 95%;
  }
  .circle1 {
    animation: antiClockwise 8s infinite linear;
    background-image: url(img/c1.svg);
    filter: drop-shadow(0px 0px 10px #00B3FE);
  }
  .circle2 {
    animation: clockwise 20s infinite linear;
    background-image: url(img/c2.svg);
    filter: drop-shadow(0px 0px 10px rgb(214, 245, 100));
  }
  .circle3 {
    animation: antiClockwise 50s infinite linear;
    background-image: url(img/c3.svg);
    filter: drop-shadow(0px 0px 10px rgb(245, 100, 189));
  }
  .circle4 {
    animation: clockwise 30s infinite linear;
    background-image: url(img/c4.svg);
    filter: drop-shadow(0px 0px 10px rgb(175, 116, 243));
  }
  .circle5 {
    animation: antiClockwise 20s infinite linear;
    background-image: url(img/c5.svg);
    filter: drop-shadow(0px 0px 10px rgb(94, 183, 255));
  }
  .circle6 {
    animation: clockwise 80s infinite linear;
    background-image: url(img/c6.svg);
    filter: drop-shadow(0px 0px 10px rgb(120, 86, 255));
  }
}
