@keyframes antiClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes clockwise {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

$phone-width: 400px;

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

#artwork {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  #mainCanvas {
    position: absolute;
  }
  #webcam-video {
    position: absolute;
    object-position: left;
  }
  #webcam-canvas {
    display: none;
  }
}

h1 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-style: italic;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
  }
  &::before {
    content: attr(data-glitch);
    color: #f0f;
    z-index: -1;
    transform: translate(7px, 0);
  }
  &::after {
    content: attr(data-glitch);
    color: #0ff;
    z-index: -1;
    transform: translate(0px, 0);
  }
}

h1,
p {
  background-color: rgba(10, 10, 10, 1);
  color: #fff;
  padding: 4px 8px;
}

p {
  line-height: 2;
}

@media (max-width: #{$phone-width}) {
  h1 {
    font-size: 200%;
    &::before {
      transform: translate(6px, 0);
    }
    &::after {
      transform: translate(1px, 0);
    }
  }
  p {
    font-size: 90%;
  }
  h1,
  p {
    background-color: rgba(10, 10, 10, 0.7);
  }
}

@media (min-width: #{$phone-width}) {
  h1 {
    font-size: 400%;
    &::before {
      transform: translate(8px, 0);
    }
    &::after {
      transform: translate(0px, 0);
    }
  }
}

#loadingScreen {
  color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(10, 10, 10, 1);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease opacity 500ms;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
  .loadingText {
    z-index: 2;
    max-width: 600px;
    margin: 10px 40px;
    span {
      color: rgb(255, 187, 0);
      font-weight: bold;
    }
    .loading {
      display: flex;
      justify-content: center;
      background-color: rgba(10, 10, 10, 1);
      p {
        margin: 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        padding-right: 0;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5,
  .circle6 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 95%;
  }
  .circle1 {
    animation: antiClockwise 8s infinite linear;
    background-image: url(img/c1.svg);
    filter: drop-shadow(0px 0px 5px #00b3fe) brightness(1.5);
  }
  .circle2 {
    animation: clockwise 20s infinite linear;
    background-image: url(img/c2.svg);
    filter: drop-shadow(0px 0px 5px #ce86ff) brightness(1.5);
  }
  .circle3 {
    animation: antiClockwise 50s infinite linear;
    background-image: url(img/c3.svg);
    filter: drop-shadow(0px 0px 5px rgb(245, 100, 189)) brightness(1.5);
  }
  .circle4 {
    animation: clockwise 30s infinite linear;
    background-image: url(img/c4.svg);
    filter: drop-shadow(0px 0px 5px rgb(175, 116, 243)) brightness(1.5);
  }
  .circle5 {
    animation: antiClockwise 20s infinite linear;
    background-image: url(img/c5.svg);
    filter: drop-shadow(0px 0px 5px #00b3fe) brightness(1.5);
  }
  .circle6 {
    animation: clockwise 80s infinite linear;
    background-image: url(img/c6.svg);
    filter: drop-shadow(0px 0px 5px rgb(120, 86, 255)) brightness(1.5);
  }
}
